<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makaroni</title>
    <link rel="icon" href="{{.FaviconURL}}">
    <style>
        :root {
            --primary-color: #C2421E;
            --hover-color: #E7704E;
            --focus-outline: rgba(74, 134, 232, 0.3);
            --padding-base: 8px;
            --fontJua: 400 normal 18px "Jua", sans-serif;
        }

        .content {
            margin: 0 auto;
            padding: 0 16px;
            max-width: min(100% - 32px, 1296px);
            line-height: 1.5;
            color: #000;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
        }

        .header {
            margin: 10px 0;
        }

        .header img {
            max-height: 74px;
        }

        button {
            background-color: var(--primary-color);
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font: var(--fontJua);
            padding: 8px 60px;
        }

        button:hover {
            background-color: var(--hover-color);
        }

        .file-info {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px;
            background-color: #f5f5f5;
            border-radius: 5px;
            border: 3px solid #FFA863;
        }

        .file-name {
            font-weight: 500;
            word-break: break-all;
            font: var(--fontJua);
        }

        .file-actions {
            display: flex;
            gap: 8px;
        }
    </style>
</head>
    <body class="content">
        <div class="header">
            <a href="{{.IndexURL}}">
                <img src="{{.LogoURL}}" alt="logo">
            </a>
        </div>
        <main class="file-info">
            <div class="file-name">
                <strong>File:</strong> {{.FileName}}
            </div>
            <div class="file-actions">
                <a href="{{.DownloadURL}}" download="{{.FileName}}">
                    <button type="button">Download file</button>
                </a>
                {{if .CanView}}
                    <a href="{{.DownloadURL}}" target="_blank">
                        <button type="button">View file</button>
                    </a>
                {{end}}
            </div>
        </main>
    </body>
</html>